openapi: 3.0.0
info:
  title: LDAP3 Demo
  description: A demonstration microserver for LDAP3
  version: 1.0.0

servers:
  - url: https://prod.something.com:5000
    description: Production
  - url: http://staging.something.com:5000
    description: Staging
  - url: http://127.0.0.1:5000
    description: Local testing

paths:
  /api/entries:
      post:
        summary: Adds a new entry
        description: Creates a new entry with the specified dn, object classes and attributes
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddEntryRequest'
        responses:
          '201':
            description: LDAP returned true.
          '400':
            description: The request JSON was not valid, or the dn is in use.
          '500':
            descripiton: LDAP returned false.

  /api/entry/{dn}:
    get:
      summary: Lookup an entry by DN
      description: Given a distinguished name, returns an entry
      parameters:
        - in: path
          name: dn
          schema:
            type: string
          required: true
          description: Distinguished Name of the entry to get
      responses:
        '200':
          description: LDAP returned true.
          content:
            application/json:
                schema:
                  $ref: '#/components/schemas/Entry'
        '400':
          description: The request JSON was not valid.
        '404':
          description: The DN does not exist.
        '500':
          description: LDAP returned false.
    put:
      summary: Modifies an exiting entry
      description: See https://ldap3.readthedocs.io/en/latest/modify.html
      parameters:
        - in: path
          name: dn
          schema:
            type: string
          required: true
          description: Distinguished Name of the entry to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyEntryRequest'
      responses:
        '200':
          description: LDAP returned true.
        '400':
          description: The request JSON was not valid.
        '404':
          description: The DN does not exist.
        '500':
          description: LDAP returned false.
    delete:
      summary: Delete an entry by DN
      description: Given a distinguished name, deletes an entry
      parameters:
        - in: path
          name: dn
          schema:
            type: string
          required: true
          description: Distinguished Name of the entry to delete
      responses:
        '204':
          description: OK.
        '500':
          description: LDAP returned false.          


  /api/search:
    post:
      summary: Searches entries by posted search criteria.
      description: See https://ldap3.readthedocs.io/en/latest/searches.html
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCriteria'
      responses:
        '200':
          description: LDAP returned a response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entry'
        '400':
          description: The request JSON was not valid.
        '500':
          descripiton: LDAP returned false.
components:
  schemas:
    KeyValuePair:
      type: object
      required:
        - key
        - value
      properties:
        key:
          type: string
        value:
          type: string

    AddEntryRequest:
      Summary: Represents a request to add an new entry.
      Description: This is the distinguished name, object class,s and attributes, and controls (optional) for a new LDAP entry.
      type: object
      required:
        - dn
        - object_class
        - attributes
      properties:
        dn:
          discription: The distinguished name for this entry. It must be unique.
          type: string
        object_class:
          description:  A comma delimited string of object classes.
          type: string
        attributes:
          description: The list of attributes and values to be added.
          type: array
          items:
            $ref: '#/components/schemas/KeyValuePair'

    Entry:
      type: object
      descripiton: A LDAP entry dn and its attributes.
      properties:
        dn:
          type: string
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/KeyValuePair'

    ModifyEntryRequest:
      type: object
      summary: This represents a request to modify and LDAP entry.
      description: The distinguished name of the entry to modify along with a list of changes.
      required:
        - dn
        - changes
      properties:
        dn:
          type: string
        changes:
          type: array
          items:
            $ref: '#/components/schemas/Change'
        controls:
          type: array
          items:
            $ref: '#/components/schemas/KeyValuePair'

    Operation:
      type: object
      Description: https://ldap3.readthedocs.io/en/latest/modify.html
      required:
        - operation
        - values
      properties:
        operation:
          type: string
          enum:
            - MODIFY_ADD
            - MODIFY_DELETE
            - MODIFY_REPLACE
            - MODIFY_INCREMENT
        values:
          type: array
          items: string

    Change:
      type: object
      required:
        - attribute_name
        - operations
      properties:
        attribute_name:
          type: string
        operations:
          type: array
          items:
            $ref: '#/components/schemas/Operation'

    SearchCriteria:
      type: object
      summary: Searches for LDAP entrys based on posted criteria
      description: See https://ldap3.readthedocs.io/en/latest/searches.html
      required:
        - search_base
        - search_filter
        - search_scope
      properties:
        search_base:
          type: string
        search_filter:
          type: string
        search_scope:
          type: string
        dereference_aliases:
          type: string
        attributes:
          type: array
          items:
            type: string
        size_limit:
          type: integer
        time_limit:
          type: integer
        types_only:
          type: boolean
        get_operational_attributes:
          type: boolean
        controls:
          type: array
          items: string
        paged_size:
          type: integer
        paged_criticality:
          type: boolean
        paged_cookie:
          type: object
      responses:
        '200':
          description: LDAP returned a response.
          content:
            application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Entry'
        '400':
          description: The request JSON was not valid.
        '500':
          descripiton: LDAP returned false.






