openapi: 3.0.0
info:
  title: LDAP3 Demo
  description: A demonstration microserver for LDAP3
  version: 1.0.0

servers:
  - url: https://prod.something.com:5000
    description: Production
  - url: http://staging.something.com:5000
    description: Staging
  - url: http://127.0.0.1:5000
    description: Local testing

paths:
  /api/entries:
      post:
        summary: Adds a new entry
        description: Creates a new entry with the specified dn, object class and attributes
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddEntryRequest'
        responses:
          '201':
            description: LDAP returned true.
          '400':
            description: The request JSON was not valid, or the dn is in use.
          '500':
            descripiton: LDAP returned false.

  /api/entry/{dn}:
    get:
      summary: Lookup an entry bt DN
      description: Given a distinguished name, returns an entry
      parameters:
        - in: path
          name: dn
          schema:
            type: string
          required: true
          description: Numeric ID of the user to get
      responses:
        '200':
          description: LDAP returned true.
          content:
            application/json:
                schema:
                  $ref: '#/components/schemas/Entry'
        '400':
          description: The request JSON was not valid.
        '404':
          description: The DN does not exist.
        '500':
          description: LDAP returned false.
    put:
      summary: Modifies an exiting entry
      description: changes an object with the specified operations and attributes
      parameters:
        - in: path
          name: dn
          schema:
            type: string
          required: true
          description: Numeric ID of the user to get
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyEntryRequest'
      responses:
        '200':
          description: LDAP returned true.
        '400':
          description: The request JSON was not valid.
        '404':
          description: The DN does not exist.
        '500':
          description: LDAP returned false.


  /api/search:
    post:
      summary: Searches entries by posted search criteria.
      description: Provides the criteria necess for the seach.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCriteria'
      responses:
        '200':
          description: LDAP returned a response.
          content:
            application/json:
                schema:
                  $ref: '#/components/schemas/ArrayOfEntries'
        '400':
          description: The request JSON was not valid.
        '500':
          descripiton: LDAP returned false.
components:
  schemas:
    Attribute:
      type: object
      required:
        - name
        - value
      properties:
        name:
          type: string
        value:
          type: array
          items: string

    ArrayOfAttributes:
      type: array
      items:
        '#/components/schemas/Attribute'

    ArrayOfEntries:
      type: array
      items:
        '#/components/schemas/Entry'

    AddEntryRequest:
      type: object
      required:
        - dn
        - object_class
        - attributes
      properties:
        dn:
          type: string
        object_class:
          type: string
        attributes:
          type:
            $ref: '#/components/schemas/ArrayOfAttributes'

    Entry:
      type: object
      properties:
        dn:
          type: string
        attributes:
          type:
            $ref: '#/components/schemas/ArrayOfAttributes'

    ModifyEntryRequest:
      type: object
      required:
        - name
        - operation
        - value
      properties:
        name:
          type: string
        value:
          type: object
    ModifyEntry:
      type: object
      required:
        - dn
        - changes
      properties:
        dn:
          type: string
        changes:
          type: array
          items:
            $ref: '#/components/schemas/Operation'

    Operation:
      type: object
      required:
        - operation
        - values
      properties:
        operation:
          type: string
        values:
          type: array
          items: string

    SearchCriteria:
      type: object
      required:
        - search_base
        - search_filter
        - search_scope
      properties:
        search_base:
          type: string
        search_filter:
          type: string
        search_scope:
          type: string
        dereference_aliases:
          type: string
        attributes:
          type:
            $ref: '#/components/schemas/ArrayOfAttributes'
        size_limit:
          type: integer
        time_limit:
          type: integer
        types_only:
          type: boolean
        get_operational_attributes:
          type: boolean
        controls:
          type: array
          items: string
        paged_size:
          type: integer
        paged_criticality:
          type: boolean
        paged_cookie:
          type: object
      responses:
        '200':
          description: LDAP returned a response.
          application/json:
            type: array
            items: object
        '400':
          description: The request JSON was not valid.
        '500':
          descripiton: LDAP returned false.






